absl-py==0.10.0
appdirs==1.4.4
astunparse==1.6.3
attrs==19.3.0
backcall==0.1.0
bandit==1.6.2
beautifulsoup4==4.9.1
black==19.10b0
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.1
cycler==0.10.0
decorator==4.4.2
Fuzzy==1.2.2
gast==0.3.3
gitdb==4.0.5
GitPython==3.1.7
google-auth==1.21.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.31.0
h5py==2.10.0
idna==2.10
importlib-metadata==1.7.0
ipykernel==5.1.3
ipython==7.9.0
ipython-genutils==0.2.0
jedi==0.15.1
joblib==0.16.0
jupyter-client==5.3.4
jupyter-core==4.6.1
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
Markdown==3.2.2
matplotlib==3.3.1
networkx==2.5
nltk==3.4.5
numpy==1.18.5
oauthlib==3.1.0
opt-einsum==3.3.0
pandas==1.1.1
parso==0.5.1
pathspec==0.8.0
pbr==5.4.5
pickleshare==0.7.5
Pillow==7.2.0
prompt-toolkit==2.0.10
protobuf==3.13.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.4.2
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
pywin32==227
PyYAML==5.3.1
pyzmq==18.1.1
regex==2020.7.14
requests==2.24.0
requests-oauthlib==1.3.0
rsa==4.6
scikit-learn==0.23.2
scipy==1.4.1
six==1.15.0
smmap==3.0.4
soupsieve==2.0.1
stevedore==3.1.0
tensorboard==2.3.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.0
tensorflow-estimator==2.3.0
tensorflow-gpu==2.3.0
termcolor==1.1.0
threadpoolctl==2.1.0
toml==0.10.1
tornado==6.0.3
traitlets==4.3.3
typed-ast==1.4.1
urllib3==1.25.10
wcwidth==0.1.7
Werkzeug==1.0.1
wincertstore==0.2
wordcloud==1.8.0
wrapt==1.12.1
zipp==3.1.0
